@import url("https://fonts.googleapis.com/css2?family=Alice&family=Cantarell:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 16px;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100px;
  width: 100%;
  gap: 10em;
  background: #ffffff;
  box-shadow: 0 0 18px 0 #0000001a;
  z-index: 5;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 120px;
  font-family: "Cantarell", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #444444;
  cursor: pointer;
}

.menu-items:hover {
  color: #f7941d;
  transition: all 0.3s ease-in-out;
}

#contact {
  height: 40px;
  width: 120px;
  color: #f7941d;
  border: 2px solid #f7941d;
  border-radius: 4px;
}

#contact:hover {
  color: #ffffff;
  background: #f7941d;
  transition: all 0.3s ease-in-out;
}

.chair {
  height: 39.5em;
  width: 100%;
}

.body h1 {
  position: absolute;
  top: 45%;
  left: 13.5%;
  height: 67px;
  width: 640px;
  font-family: "Alice", serif;
  font-weight: 300;
  font-size: 45px;
  color: #444444;
}

.body h6 {
  position: absolute;
  top: 55%;
  left: 13.5%;
  height: 52px;
  width: 620px;
  font-family: "Cantarell", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #444444;
}

#about {
  position: absolute;
  top: 65%;
  left: 13.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cantarell", sans-serif;
  font-size: 13px;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #f7941d;
  border: 2px solid #f7941d;
  border-radius: 4px;
}

#about:hover {
  color: #ffffff;
  background: #f7941d;
  transition: all 0.3s ease-in-out;
}

.hexa {
  height: 11em;
  width: 100%;
  opacity: 0.07;
  margin-bottom: 10px;
}

h4 {
  position: absolute;
  width: 100%;
  top: 108%;
  text-align: center;
  line-height: 30px;
  font-family: "Alice", serif;
  font-weight: 200;
  font-size: 16px;
}

.text {
  text-align: center;
}

.text h2 {
  font-family: "Alice", serif;
  font-weight: 200;
  font-size: 35px;
  line-height: 2em;
}

.text h6 {
  font-family: "Cantarell", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.slide-wrapper {
  margin-top: 15px;
  display: flex;
  height: 350px;
  margin-bottom: 15px;
  gap: 20px;
}

.slide-container {
  width: 250px;
  height: 350px;
}

.slide-container img {
  height: 20em;
}

.slide-container span {
  padding: 0 10px;
  display: flex;
  font-family: "Alice", serif;
  font-weight: 200;
  font-size: 17px;
}

.fa-arrow-right-long {
  margin-left: 30px;
  font-size: 27px;
  color: #444444;
}
.fa-arrow-right-long:hover {
  color: #f7941d;
}
.fa-arrow-left-long {
  font-size: 27px;
  color: #444444;
}
.fa-arrow-left-long:hover {
  color: #f7941d;
}

.projectcon {
  margin-top: 4em;
  display: flex;
}
.projectcon img {
  height: 450px;
  width: 50em;
}

.ptext {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.ptext h2 {
  margin-left: 2.4em;
  text-align: left;
  font-family: "Alice", serif;
  font-weight: 200;
  font-size: 35px;
  line-height: 2em;
}

.ptext h6 {
  margin-left: 5.7em;
  text-align: left;
  font-family: "Cantarell", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

#view {
  margin-top: 25px;
  margin-left: 6.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cantarell", sans-serif;
  font-size: 13px;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #f7941d;
  border: 2px solid #f7941d;
  border-radius: 4px;
}

#view:hover {
  color: #ffffff;
  background: #f7941d;
  transition: all 0.3s ease-in-out;
}
